.app-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    position: relative;
    display: block;
    width: calc(100% - 3rem);
    max-width: 768px;
    overflow: hidden;
    margin: 5px;
    margin-top: 60px;
    img {
        display: block;
        width: 100%;
        cursor: crosshair;
        border: 5px solid var(--primary);
        margin: 5px auto;
    }
}

.result {
    position: absolute;
    top: 5px;
    left: 5px;
    background: var(--primary);
    color: var(--light);
    margin: 0;
    padding: var(--padding);
    display: block;
    user-select: text;
    border-radius: var(--borderRadius);
    span {
        font-weight: bold;
        display: block;
        &::selection {
            background: var(--warning);
            color: var(--dark);
        }
    }
}

.preview {
    position: absolute;
    top: 10px;
    right: 5px;
    display: block;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 5px solid var(--primary);
    border-right: none;
    border-top: none;
}

#cs {
    display: none;
}

/* Fake input */
#image-input {
    opacity: 0;
    visibility: hidden;
    display: none;
}

#fake {
    padding: 10px;
    display: input-block;
    overflow: hidden;
    width: auto;
    cursor: pointer;
    font-size: 90%;
    float: left;
    background: var(--primary);
    color: var(--light);
}
