<!-- app-header -->
<header class="app-header">
  <!-- app-header-left -->
  <section class="app-header-left">
    {{ include "components/backto.vto"}}
    {{ include "components/themes.vto"}}
  </section>
  <!-- app-header-center -->
  <section class="app-header-center">
    <h3 id="header-title">{{title}}</h3>
  </section>
  <!-- app-header-right -->
  <section class="app-header-right">
    {{ include "components/menu.vto"}}
  </section>
</header>