.app {
    --primary: #282a35;
    --secondary: #21232d;
    --info: #22ffff;
    --warning: #ff7bc6;
    --danger: #f05c5c;
    --light: #e7e7e7;
    --dark: #1f2129;
    --boxShadow: 0 1px 2px #1f2129;
}


.app-page-section textarea {
    height: calc(100% - 3rem);
    border-radius: var(--borderRadius);
}
