section.app-page-section:first-child {
    width: 350px;
    padding: 10px;
}

section.app-page-section:last-child {
    width: calc(100% - 390px);
    margin: 10px;
    height: calc(100% - var(--defaultHeight));
}

pre#output {
    --light: #4c5261;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height:20rem;
    border-radius:var(--borderRadius);
    border: 1px dashed var(--light);
    background-color: var(--primary);
    background-image: linear-gradient(
        135deg,
        var(--primary) 54%,
        transparent 5%
      ),
      linear-gradient(225deg, var(--primary) 45%, transparent 5%),
      linear-gradient(45deg, var(--primary) 45%, transparent 5%),
      linear-gradient(315deg, var(--primary) 45%, var(--light) 5%);
    background-size: 10px 10px;
    background-repeat: repeat;
    user-select: none;
    height: calc(100% - 50px);
}

