pre#output {
    margin: 0;
    white-space: nowrap;
    padding: var(--padding);
    background: var(--primary);
    border: 1px solid var(--dark);
    overflow-x: scroll;
    min-height: 10rem;
    user-select: text;
    margin-bottom: 10px;
    .key{
        color:var(--warning);
    }
    .value{
        color:var(--info);
    }
}