@import "../../themes.css";

.app-page-section:first-child .CodeMirror {
    height:calc(100% - var(--defaultHeight));
    border-radius:var(--borderRadius);
}
 .CodeMirror {
    height:100%;
    border-radius:var(--borderRadius);
}
