@import "../../themes.css";

.split-horizontal {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.split-vertical {
    height: 100%;
    width: 50%;
}

.gutter {
    background-color: color-mix(in srgb, var(--secondary), var(--primary));
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: 1;

    &.gutter-horizontal {
        cursor: col-resize;
    }

    &.gutter-vertical {
        cursor: row-resize;
    }
}

.cm-theme {
    height: 100%;
}

@media (max-width: 600px) {
    .app-header-left {
        a,
        button {
            min-width: 42px !important;
        }
        input {
            display: none !important;
        }
    }
    .app-header-center {
        display: none !important;
    }
}

.CodeMirror {
    height: calc(100vh - var(--defaultHeight));
}
.app-header {
    input {
        background: var(--secondary);
        border-color: var(--primary) !important;
    }
}
