.app-page-section:first-child{
    height:auto;
}

.app-page-section:last-child{
    ul {
        margin:0;
        padding:0;
        list-style:none;
        max-height:calc(100% - 3rem);
        overflow-x:auto;
    }
    li {
        white-space: pre-wrap;
        width: 100%;
        position: relative;
        margin-bottom: 1rem;
        background: var(--primary);
        overflow-y: auto;
        padding: var(--padding);
        font-family:var(--fontFamilyCode);
        border-radius: var(--borderRadius);
        text-align:left;
        border: 1px solid var(--dark);
        color:var(--light);
        strong {
            color:var(--info);
            &:first-child {
                color:var(--warning);
            }
        }
        code {
            font-size:calc(var(--fontSize) - 2px);
            user-select:text;
            background: var(--secondary);
            padding: 1px 4px;
            border-radius: var(--borderRadius);
        }
    }
    h3 {
        margin-bottom: 1rem;
        font-size: 23px;
    }
}

#output {
    margin-top: 1rem;
    padding: var(--padding);
    min-height: 3rem;
    max-height:30rem;
    overflow-y:auto;
    &:is(:hover, :focus) {
        outline: none;
    }

    > span {
        font-weight: bold;
        background: var(--info);
        color: var(--primary);
    }
}

#msg {
    margin-top: 1rem;
    padding: var(--padding);
    min-height: 2rem;
    white-space: pre-wrap;
    background: var(--primary);
    color: var(--light);
    &.error{
        background: var(--danger);
        color: var(--dark);
    }
    &.success{
        background: var(--info);
        color: var(--dark);
    }
}
