@import "../../themes.css";

.app-content {
    background-color: var(--secondary);
    background-image: linear-gradient(135deg, var(--secondary) 54%, transparent 5%),
        linear-gradient(225deg, var(--secondary) 45%, transparent 5%),
        linear-gradient(45deg, var(--secondary) 45%, transparent 5%),
        linear-gradient(315deg, var(--secondary) 45%, var(--primary) 5%);
    background-size: 10px 10px;
    background-repeat: repeat;
}
header.app-page-section-header {
    background: transparent;
}
.CodeMirror {
    height: calc(100% - var(--defaultHeight));
}

