:root {
  --primary: #282a35;
  --secondary: #191a21;
  --info: #6272a4;
  --warning: #ff79c5;
  --danger: #ff6b6b;
  --light: #c9c9c9;
  --dark: #111114;
  --fontSize: 14px;
  --fontWeight: 300;
  --fontFamily: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --lineHeight: 1.5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  background: var(--secondary);
  color: var(--light);
  text-align: center;
}
h3 {
  color: var(--danger);
  text-shadow: 2px 2px 2px var(--secondary);
}
p {
  color: var(--info);
}
p > span {
  color: var(--warning);
}
