---
lang: en
charset: UTF-8
title: Url parser
description: Parse url and get query params
author: Moncho Varela
keywords: javascript,editor,Snippex,md
tileColor: #282a35
themeColor: #191a21
page: 20-url-parser
style: ./assets/css/views/20-url-parser/main.css
javascript: ./assets/js/views/20-url-parser/main.js
url: /20-url-parser.html
layout: layouts/codemirror.vto
---

<!-- app -->
<main class="app is-page">
  {{ include "components/header-page.vto"}}
  <!-- app-content -->
  <section class="app-content">
    <aside class="app-sidebar">
      {{ include "components/list.vto"}}
    </aside>
    <section class="app-page">
      <section class="app-page-sections">
        <section class="app-page-section">
          <header class="app-page-section-header">
            <h3>🔎 Url parser</h3>
            <div class="form-group">
              <button class="btn" id="demoBtn">🔨 Demo</button>
              <button class="btn" id="resetBtn">🔄 Reset</button>
              <button class="btn" id="copyBtn">📋 Copy</button>
            </div>
          </header>
          <textarea id="urlInput" spellcheck="false"></textarea>
        </section>
        <section class="app-page-section">
          <ul id="output"></ul>
        </section>
      </section>
    </section>
  </section>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"
  integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
