.app {
  --primary: #282a35;
  --secondary: #21232d;
  --info: #22ffff;
  --warning: #ff7bc6;
  --danger: #f05c5c;
  --light: #e7e7e7;
  --dark: #1f2129;
  --boxShadow: 0 1px 2px #1f2129;
}

section.app-page-section{
  margin-bottom:0;
  width:calc(60% - 15px);
  &:first-child{
    width:calc(40% - 15px);
  }
  > textarea{
    height:calc(100%/2 - 2px);
    margin:5px;
  }
  &:last-child textarea{
    height:calc(100%/3 - 3px);
    margin:5px;
  }
}
