section.app-page-section{
  margin-bottom:0;
  width:calc(60% - 15px);
  &:first-child{
    width:calc(40% - 15px);
  }
  > textarea{
    height:calc(100%/2 - 2px);
    margin:5px;
  }
  &:last-child textarea{
    height:calc(100%/3 - 3px);
    margin:5px;
  }
}
